.container {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create {
  width: 20vw;
  height: 20vh;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: white;
}

.create input {
  padding: 10px;
  width: 260px;
  border-radius: 5px;
  border: 1px solid gray;
}

.create button {
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
}
