.container1 {
  width: 100vw;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card {
  width: 40vw;
  height: 35vh;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: black;
}

.card h2 {
  font-weight: 500;
  font-size: 30px;
}
.card p {
  margin-top: 20px;
  font-weight: 200;
  font-size: 20px;
}

.card button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
}
